NEXT_PUBLIC_SUPABASE_URL=https://egllbomlknsetemdgujb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVnbGxib21sa25zZXRlbWRndWpiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2Nzg3ODEsImV4cCI6MjA5NzI1NDc4MX0.wZ6NnSqk7lz77HcQUJnjcvtgtMTOIwsAUuq1C5aeHH4
NEXT_PUBLIC_APP_URL=https://post-bridge-assistant.vercel.app/
TELEGRAM_BOT_TOKEN=7946622562:AAF7B1wcWXflT-rZbbfaxKdfa9ae3LWkVDI